<script setup>
import AppLayout from '@/Layouts/AppLayout.vue';
import Welcome from '@/Jetstream/Welcome.vue';
import NavBar from '@/components/nav.vue';
import Provider from '@/components/provider.vue';
import Swal from 'sweetalert2'

</script>

<script>
export default {
    props: [ 'user' ],
    data(){
        return {
            providers: []
        }
    },
    created(){
        this.getProviders();
    },
    methods: {
        getProviders(){
            this.providers = [];
            $.ajax({
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                },
                url:  '/get_providers',
                type: 'GET',
                dataType: 'JSON',
                contentType: false,
                processData: false,
                success: (response) => {
                    this.providers = response;
                },
                error: function(error){
                    console.log(error)
                }
            });
        },
        allProviders(){
            $("#new_providers").css('display','none');
            this.getProviders();
        },
        showProviders(){
            var formData = new FormData();
            const files = $("#file")[0].files;
            for (let index = 0; index < files.length; index++) {
                const file = files[index];
                formData.append("file-" + index,file);
            }
            $.ajax({
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                },
                url:  '/new_providers',
                type: 'POST',
                data: formData,
                dataType: 'JSON',
                contentType: false,
                processData: false,
                success: (response) => {
                    this.providers = response;
                },
                error: function(error){
                    console.log(error)
                }
            });
        },
        showAddProviders(){
            this.providers = [];
            $("#new_providers").slideToggle();
        },
        cancelNewProviders(){
            $("#new_providers").slideToggle();
        },

        addProvider(provider){            
            var data = new FormData();
            data.append("name",provider.name);
            data.append("rfc",provider.rfc);
            data.append("email",provider.email)

            console.log(data)
            Swal.fire({
                title: 'Do you want to save the changes?',
                showDenyButton: true,
                showCancelButton: true,
                confirmButtonText: 'Save',
                denyButtonText: `Don't save`,
                }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    $.ajax({
                        headers: {
                            'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                        },
                        url:  '/add_provider',
                        type: 'POST',
                        dataType: 'JSON',
                        contentType: false,
                        processData: false,
                        data: data,
                        success: (response) => {
                            var aux = [];
                            for (let index = 0; index < this.providers.length; index++) {
                                const element = this.providers[index];
                                if(element.rfc == provider.rfc){
                                    aux.push(provider);
                                }
                            }
                            this.providers = aux;
                            Swal.fire('Saved!', '', 'success')
                        },
                        error: function(error){
                            console.log(error)
                        }
                    });
                } else if (result.isDenied) {
                    Swal.fire('Changes are not saved', '', 'info')
                }
            })
        },

        delete_provider(id){            
            var data = new FormData();
            data.append("id",id);

            console.log(data)
            Swal.fire({
                title: 'Do you want to save the changes?',
                showDenyButton: true,
                showCancelButton: true,
                confirmButtonText: 'Save',
                denyButtonText: `Don't save`,
                }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    $.ajax({
                        headers: {
                            'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                        },
                        url:  '/delete_provider',
                        type: 'POST',
                        dataType: 'JSON',
                        contentType: false,
                        processData: false,
                        data: data,
                        success: (response) => {
                            this.getProviders();
                            Swal.fire('Deleted!', '', 'success')
                        },
                        error: function(error){
                            console.log(error)
                        }
                    });
                } else if (result.isDenied) {
                    Swal.fire('Changes are not saved', '', 'info')
                }
            })
        },
    }
}
</script>
<template>
    <div class="col">
        <NavBar :user="user"/>
        <div class="container">
            <div class="mt-5">
                <div class="m-auto">
                    <h2>Administration</h2>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-success m-1" @click="allProviders()">All providers</button>
                        <button class="btn btn-primary m-1" @click="showAddProviders()">Register providers from .txt</button>
                    </div>
                </div>
                <div class="col border p-3 mt-3" style="display: none;" id="new_providers">
                    <div class="row">
                        <div class="col-md-8">
                            <input type="file" name="" id="file" class="form-control form-control-sm">
                        </div>
                        <div class="col-md">
                            <div class="d-grid gap-2">
                                <button class="btn btn-primary" type="button" @click="showProviders()">Accept</button>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="d-grid gap-2">
                                <button class="btn btn-secondary" type="button" @click="cancelNewProviders()">Cancel</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <p class="m-0 text-muted"><strong>FORMAT EXAMPLE</strong></p>
                        <p class="m-0 text-muted">NAME:PROVIDER NAME 1,RFC:RFCPROVIDER1,EMAIL:example1@mail.com;NAME:PROVIDER NAME 2,RFC:RFCPROVIDER2,EMAIL:example1@mail.com;</p>
                    </div>
                </div>
                <div class="card" v-if="providers.length == 0">
                    <div class="card-body">
                        <h4 class="text-center">No providers</h4>
                    </div>
                </div>
                <Provider 
                    v-for="provider in providers" 
                    :key="provider.rfc" 
                    :data="provider" 
                    :add="addProvider" 
                    :delete_provider="delete_provider"/>            
            </div>
        </div>
    </div>   
</template>