<script setup>
import { Head, Link, useForm } from '@inertiajs/inertia-vue3';
import JetAuthenticationCard from '@/Jetstream/AuthenticationCard.vue';
import JetAuthenticationCardLogo from '@/Jetstream/AuthenticationCardLogo.vue';
import JetButton from '@/Jetstream/Button.vue';
import JetInput from '@/Jetstream/Input.vue';
import JetCheckbox from '@/Jetstream/Checkbox.vue';
import JetLabel from '@/Jetstream/Label.vue';
import JetValidationErrors from '@/Jetstream/ValidationErrors.vue';
import NavBar from '@/components/nav.vue';

defineProps({
    canResetPassword: Boolean,
    status: String,
});

const form = useForm({
    email: '',
    password: '',
    remember: false,
});

const submit = () => {
    form.transform(data => ({
        ...data,
        remember: form.remember ? 'on' : '',
    })).post(route('login'), {
        onFinish: () => form.reset('password'),
    });
};
</script>

<template>
    <div class="col">
        <NavBar :user="{}"/>
        <div class="container">
            <div class="row mt-5 align-items-center">
                <div class="col-md m-1">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="text-center">Welcome</h1>
                            <p class="text-center">to our system</p>
                        </div>
                    </div>
                </div>
                <div class="col-md m-1">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center">Please log in</h5>
                            <p class="text-center">to go to ur system</p>
                            <form @submit.prevent="submit">
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                                    <input type="email" class="form-control" v-model="form.email">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Password</label>
                                    <input type="password" class="form-control" v-model="form.password">
                                </div>
                                <div class="d-grid gap-2">
                                    <button class="btn btn-primary" type="submit">Log In</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>