<script setup>
import AppLayout from '@/Layouts/AppLayout.vue';
import Welcome from '@/Jetstream/Welcome.vue';
import NavBar from '@/components/nav.vue';
import Provider from '@/components/provider.vue';
import Swal from 'sweetalert2'

</script>

<script>
export default {
    props: [ 'user','provider' ],
    methods: {
    }
}
</script>
<template>
    <div class="col">
        <NavBar :user="user"/>
        <div class="container mt-5">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center">WELCOME</h1>
                    <p class="text-center"><strong>PROVIDER</strong></p>
                    <h5 class="card-title text-center">
                        {{ user.name }}
                    </h5>
                    <h4 class="text-center"> <strong>RFC:</strong> {{ provider.rfc }}</h4>
                </div>
            </div>
        </div>
    </div>   
</template>