<script>
export default {
    props: [ 'data','add','delete_provider' ]
}
</script>
<template>
    <div class="card mt-3">
        <div class="card-header">
            <div class="h5 card-title">{{ data.name }}</div>
        </div>
        <div class="card-body">
            <div class="row" v-if="!data.id">
                <div class="col-md">
                    <p><strong>RFC:</strong> {{ " " + data.rfc }} </p>
                    <p><strong>e-mail:</strong> {{ " " + data.email }} </p>
                </div>
                <div class="col-md-2">
                    <div class="d-grid gap-2">
                        <button class="btn btn-success" type="button" @click="add(data)">Accept request</button>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="d-grid gap-2">
                        <button class="btn btn-danger" type="button">Reject request</button>
                    </div>
                </div>
            </div>

            <div class="row" v-if="data.id">
                <div class="col-md">
                    <p><strong>RFC:</strong> {{ " " + data.rfc }} </p>
                </div>
                <div class="col-md-2">
                    <div class="d-grid gap-2">
                        <button class="btn btn-danger" type="button" @click="delete_provider(data.id)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>